body {
    margin: 0;
    padding: 0;
    background-image: url('../assets/img/fondo.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: white;
}

.Principal {
    justify-content: center; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.formulario {
    margin-top: 25px;
}

.titulo {
    color:black;
    margin-top: 12px;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.texto {
    color:black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.fondoCard {
    background-color: #b4d2f5;

}